@using Hospital_Mangment_System_BLL.View_model.DepartmentVM
@model CreateDepartmentVM;


@{
    ViewData["Title"] = "AddDepartment";
}


<form asp-action="AddDepartment" asp-controller="department">


    <div class="mb-3">
        <label for="Department_Name" class="form-label">Department Name</label>
        <input asp-for=Dname type="text" class="form-control" id="Department_Name" placeholder="Enter Department Name">
    </div>

    <div class="mb-3">
        <label for="Location" class="form-label">Location</label>
        <input asp-for=Location type="text" class="form-control" id="Location" placeholder="Enter Location">
    </div>



   
    <button type="submit" class="btn btn-primary">Summit</button>



</form>


