@using Hospital_Mangment_System_BLL.View_model.DepartmentVM

@{
    ViewData["Title"] = "GetDepartmentById";
}
@model GetDepartmentByIdVM
@if (Model != null)
{
    ViewData["Title"] = "GetDepartmentById";
    <h1>@Model.Dname</h1>
    <p>@Model.DoctorName</p>
}
else
{
    <p>Department not found.</p>
}
