@using Hospital_Mangment_System_BLL.View_model.DepartmentVM

@{
    ViewData["Title"] = "GetDepartmentById";
}
@model GetDepartmentByIdVM



<h1>Id is @Model.Dnum  </h1>
<h1>Name is @Model.Dname  </h1>
<h1>Gender is @Model.Location  </h1>





