@using Hospital_Mangment_System_BLL.View_model
@model CreateEquipmentVM



<h2>Create Medical Equipment</h2>

<form asp-action="Create" method="post">
    <div class="form-group">
        <label asp-for="Equip_name" class="control-label"></label>
        <input asp-for="Equip_name" class="form-control" />
        <span asp-validation-for="Equip_name" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Maintence_date" class="control-label"></label>
        <input asp-for="Maintence_date" class="form-control" type="date" />
        <span asp-validation-for="Maintence_date" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Dnum" class="control-label"></label>
        <input asp-for="Dnum" class="form-control"  />
        <span asp-validation-for="Dnum" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Create</button>
    <a asp-action="Index" class="btn btn-secondary">Cancel</a>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}


