@using Hospital_Mangment_System_BLL.View_model


@model GetEquipmentByIdVM
<h2>Delete medical_Equipment</h2>
<p>Are you sure you want to delete this medical?</p>
<p>@Model.Equip_name</p>
<form asp-action="Delete" method="post">
    <input type="hidden" asp-for="Equip_name" value="@Model.Equip_name" />
    <button type="submit" class="btn btn-danger">Delete</button>
    <a asp-action="Index" class="btn btn-secondary">Cancel</a>
</form>


