@using Hospital_Mangment_System_BLL.View_model.patientVM;
@model CreatePatientVM;


@{
    ViewData["Title"] = "AddPatient";
}


<form asp-action="AddPatient" asp-controller="patient" enctype="multipart/form-data">
    

    <div class="mb-3">
        <label for="Full_Name" class="form-label">Full Name</label>
        <input asp-for=Name type="text" class="form-control" id="Full_Name" placeholder="Enter Full Name">
    </div>

    <div class="mb-3">
        <label for="Email" class="form-label">Email</label>
        <input asp-for=Email type="email" class="form-control" id="Email" placeholder="Enter Email">
    </div>



    <div class="mb-3">
        <label for="Birth_day" class="form-label">Birth Day</label>
        <input asp-for=birthday type="date" class="form-control" id="Birth_day" placeholder="Enter Birth_day">
    </div>


    <div class="mb-3">
        <label for="Phone1" class="form-label">Phone1</label>
        <input asp-for=phone1 type="text" class="form-control" id="Phone1" placeholder="Enter Phone1">
    </div>

    <div class="mb-3">
        <label for="Phone2" class="form-label">Phone2</label>
        <input asp-for=phone2 type="text" class="form-control" id="Phone2" placeholder="Enter Phone2">
    </div>


    <div class="mb-3">
        <label for="Gender" class="form-label">Gender</label>
        <input asp-for=Gender type="text" class="form-control" id="Gender" placeholder="Enter Gender">
    </div>
    <div class="mb-3">
        <label for="Image" class="form-label">Image</label>
        <input asp-for=Image type="file" class="form-control" id="Image" placeholder="Enter Image">
    </div>
    <button  type="submit" class="btn btn-primary">Summit</button>



</form>


